# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Optional backups
# =========================
*.bak
*.tmp

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# Environment files
# =========================
.env
.env.local
